CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
/.vs
/x64
/fwlab/Debug
/fwlab/x64
/fwlab/fwlab.vcxproj.user
